<table>
    <th>Date/Time</th>
    <th>Doctor</th>
<% @patient.appointments.each do |appt| %>
  <tr>
    <td><%= link_to appt.display_time, doctor_appointment_path(appt.doctor, appt) %></td>
    <td><%= appt.doctor.doc_name %></td>
  </tr>
<% end %>

</table>
