<h1>Welcome <%= @patient.display_name %></h1>
<table>
    <th>Date/Time</th>
    <th>Doctor</th>
<% @patient.appointments.each do |appt| %>
  <tr>
    <td><%= appt.display_time %></td>
    <td><%= appt.doctor.doc_name %></td>
  </tr>
<% end %>
</table>
